@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat-bold;
  src: url(./assets/fonts/Montserrat-Bold.ttf);
}

@font-face {
  font-family: Montserrat-regular;
  src: url(./assets/fonts/Montserrat-Regular.ttf);
}

* {
  font-family: Montserrat-regular;
}
